.item{
    cursor: pointer;
}
.item-caption{
    width: 80%;
    bottom: 20px;
    left: 10%;
}
.layer{
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    justify-content: center;
    align-items: center;
}
.layer-item{
    width: 60%;
    height: 500px;
    background-image: url(../images/portfolio-1.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
#close{
    position: absolute;
    top: 20px;
    right: 20px;
}



















